body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin-bottom: 200px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f5f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  position: fixed;
  background-color: rgba(33, 37, 41, 255);
  color: rgba(136, 146, 146, 255);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
}

hr.break {
  background-color: rgba(132, 76, 51, 255);
  height: 2px;
}

.btn-secondary {
  background-color: #91684d; /* Change to your desired color */
  padding: 5px 25px; /* Adjust the padding as per your needs */
  border-radius: 40px;
  color: #fdfdfd;
  font-size: 20px;
  border: none;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-link:focus {
  color: none;
}

.navbar {
  background-color: #6ba304;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
a.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: #fafafa;
}

.container {
  color: #6ba304;
  box-shadow: none;
  padding: 30px;
  margin: 50px auto;
  display: grid;
  width: 70%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 20px;
}

.glass-effect {
  background: linear-CanvasGradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blue(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 32px;
}

.splash {
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(17, 95, 0);
  transition: all linear 400ms;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 40px;
}

.hidden {
  transition: 0.5s;
  display: none;
}

.splash-header {
  height: 90%;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-container {
  background-color: white;
  margin: 50px auto;
  display: grid;
  width: 70%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 20px;
  border: 4px solid #056e31;
  color: #6ba304;
  box-shadow: none;
  padding: 30px;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #6ba304;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

div.card-body {
  border: 4px solid #056e31;
  color: #6ba304;
  box-shadow: none;
  padding: 30px;
}

div.card-shadow {
  border: #91684d;
  border-radius: 20px;
  box-shadow: #6ba304;
}

.button-accordion-button {
  background-color: #91684d; /* Change to your desired color */
  padding: 15px 25px; /* Adjust the padding as per your needs */
  border-radius: 10px;
  color: #fafafa;
  font-size: 16px;
  border: none;
  margin-top: 20px;
  color: #056e31;
}

.modal-body {
  border: 4px solid #056e31;
  color: #6ba304;
  box-shadow: none;
  padding: 30px;
}
.modal-header {
  border: 4px solid #056e31;
  color: #6ba304;
  box-shadow: none;
  padding: 10px;
}

.custom-button {
  background-color: #1e7016;
  border-color: #1e7016; /* Change to your desired color */
  padding: 15px 25px; /* Adjust the padding as per your needs */
  border-radius: 10px;
  color: #fafafa;
  font-size: 16px;
  border: none;
  margin-top: 20px;
}

a.custom-button:hover {
  color: #080808;
}
a.custom-button:active {
  color: #ffffff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  size-adjust: auto;
}

.btn-primary {
  background-color: #1e7016;
  border-color: #1e7016;
}

.btn-primary:hover {
  color: #000000;
}

a.custom-button:focus {
  box-shadow: none;
}

button:active {
  outline: none;
}

.btn-custom-button {
  margin: 20, 0, 0;
  padding: 15, 0;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.nav-link:focus {
  color: none !important;
}

.nav-link:visited {
  color: none !important;
}
